{
  presets: [
    [
      "babel-preset-gatsby",
      {
        targets: {
          browsers: [">0.25%", "not dead"]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-object-rest-spread",
    "babel-plugin-emotion",
    "babel-plugin-macros"
  ]
}
